.git
.gitignore
.env.example
.editorconfig
.env.*.local
node_modules
vendor/bin
storage/logs/*
storage/framework/cache/*
storage/framework/views/*
storage/framework/sessions/*
tests
README.md
.gitattributes
.DS_Store
*.log
